.criminalsContainer, 
.filters__crime, 
.filters__incarceration,
.filters__officer {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  margin: 10px;
}

.filter {
  margin: 10px;
}

.criminal__card {
  border: 1px dashed black;
  padding: 10px;
  margin: 20px;
  width: 250px;
}